{% extends "storage_capacity/base.html" %}

{% load staticfiles %}

{% block app_content_wrapper_override %}
<!-- Modal  -->
<div class="modal fade" id="welcome-popup" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Storage Capacity Application Help Guide</h4>
      </div>
      <div class="modal-body">
        <div id="welcome-info">

        </div>
      </div>
      <div class="modal-footer">
        <div id="byu-logo-container">
          <span><i>Developed at the BYU Environmental Research Modelling Lab</i></span>
          <img src="{% static 'storage_capacity/images/byu-logo.png' %}"/>
        </div>
        <button type="button" class="btn btn-default" id="close-popup" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->
{{block.super}}
{% endblock %}

{% block app_content %}
<link rel="stylesheet" href="https://js.arcgis.com/3.16/esri/css/esri.css"/>
<style>
  html, body, #mapDiv {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
</style>
<script src="https://js.arcgis.com/3.16/"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<div id="mapDiv"></div>
{% endblock %}