{% extends "storage_capacity/base.html" %}

{% block app_content %}
  <link rel="stylesheet" href="https://js.arcgis.com/3.16/esri/css/esri.css"/>
  <style>
    html, body, #mapDiv {
      height: 100%;
      margin: 0;
      padding: 0;
      width: 100%;
    }
  </style>
  <script src="https://js.arcgis.com/3.16/"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <div id="mapDiv"></div>
  <script>
    var app;
    require(["dojo/dom",
              "dojo/_base/array",
              "esri/Color",

              "esri/map",
              "esri/toolbars/draw",
              "esri/layers/FeatureLayer",
              "esri/SnappingManager",
              "esri/graphic",
              "esri/graphicsUtils",
              "esri/tasks/Geoprocessor",
              "esri/tasks/FeatureSet",
              "esri/tasks/LinearUnit",
              "esri/symbols/SimpleMarkerSymbol",
              "esri/symbols/SimpleLineSymbol",
              "esri/symbols/SimpleFillSymbol","esri/request"], function(dom, array, Color, Map, Draw, FeatureLayer, SnappingManager,
              Graphic, graphicsUtils, Geoprocessor, FeatureSet, LinearUnit,
              SimpleMarkerSymbol, SimpleLineSymbol, SimpleFillSymbol, esriRequest) {
      var map = new Map("mapDiv", {
        center: [-70, 18.6],
        zoom: 8,
        basemap: "satellite"
      });
      var featureLayer = new FeatureLayer("http://geoserver.byu.edu/arcgis/rest/services/hydropower_mskl/backgroundData/MapServer/1");
      map.addLayer(featureLayer);

      var layerInfos = [{
        layer: featureLayer
      }];
      map.enableSnapping({alwaysSnap: true}).setLayerInfos(layerInfos);

      gp = new Geoprocessor("http://geoserver.byu.edu/arcgis/rest/services/hydropower_mskl/reservoirVolumeDR/GPServer/Reservoir%20Volume%20DR");
        gp.setOutputSpatialReference({wkid: 102100});
      function drawPoint() {
        map.setMapCursor("crosshair")
        map.on("click", reservoirVolume);
      }

      var featureSet = new FeatureSet();

      function submitResRequest() {
        var params = {
          "pour_point": featureSet,
          "height": $("#damHeight").val()
        };
        gp.submitJob(params, completeCallback, statusCallback);
      };

      function reservoirVolume(evt) {
        map.graphics.clear();
        var pointSymbol = new SimpleMarkerSymbol();
        pointSymbol.setSize(14);
        pointSymbol.setOutline(new SimpleLineSymbol(SimpleLineSymbol.STYLE_SOLID, new Color([255, 0, 0]), 1));
        pointSymbol.setColor(new Color([0, 0, 255, 0.25]));

        var graphic = new Graphic(evt.mapPoint, pointSymbol);
        map.graphics.add(graphic);

        var features = [];
        features.push(graphic);
        featureSet.features = features;
      };

      function statusCallback(jobInfo) {
        console.log(jobInfo.jobStatus);
        $("#vol").html("<h6>" + jobInfo.jobStatus + "...</h6>");
      }

      function completeCallback(jobInfo) {
        console.log("getting data");
        gp.getResultData(jobInfo.jobId, "reservoir", drawReservoir, failedCallback);
        gp.getResultData(jobInfo.jobId, "volume", getVolume);
      }

      function failedCallback() {
        alert("No major stream found nearby. Please click at least within 100 meters of a major stream.")
      }

      function drawReservoir(reservoir) {
        map.graphics.clear()
        var polySymbol = new SimpleFillSymbol();
        polySymbol.setOutline(new SimpleLineSymbol(SimpleLineSymbol.STYLE_SOLID, new Color([0, 0, 255, 0.5]), 1));
        polySymbol.setColor(new Color([0, 127, 255, 0.7]));
        var features = reservoir.value.features;
        for (var f = 0, fl = features.length; f < fl; f++) {
          var feature = features[f];
          feature.setSymbol(polySymbol);
          map.graphics.add(feature);
        }
        map.setExtent(graphicsUtils.graphicsExtent(map.graphics.graphics), true);
      };

      function getVolume(volume) {
        var req = esriRequest({
          "url": volume.value.url,
          "handleAs": "text"
        });
        req.then(requestSucceeded, requestFailed);
      }

      function requestSucceeded(response){
        var elem = response.split(",");
        var volNumber = Number(elem[elem.length - 1]).toFixed(2);
        $("#vol").html(
          "<h6>Total Volumen:</h6>" +
          "<p class='bg-primary'> <span id='volBlue'>" +
          volNumber + "</span> Cubic Meters</p>"
        );
      }
      function requestFailed(error){
        $("#vol").html("<p class='bg-danger'>Error: " + error + " happened while retrieving the volume</p>");
      }

      app = {drawPoint: drawPoint, submitResRequest: submitResRequest};
    });
  </script>
{% endblock %}

{% block app_actions %}
 <!-- <a href="" class="btn btn-default">Next</a>
  <a href="" class="btn btn-default">Back</a>-->
{% endblock %}